body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("../etc/images/bg.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}