<div *ngIf="!actInstalled">
  <div class="row bg-light">
    <div class="col" align="center">
      It looks like ACT isn't installed.
    </div>
  </div>
  <div class="row bg-light" align="center">
    <div class="col">&nbsp;</div>
    <div class="col">&nbsp;</div>
    <div class="col"><button type="submit" class="btn btn-outline-primary">Manually Locate ACT</button></div>
    <div class="col"><button type="submit" class="btn btn-outline-primary">Install Act</button></div>
    <div class="col">&nbsp;</div>
    <div class="col">&nbsp;</div>
  </div>
</div>
<div *ngIf="actInstalled" class="bg-white">
  (act component not implemented yet)<br>
  https://stackoverflow.com/questions/46102851/electron-download-a-file-to-a-specific-location<br>
</div>