<div class="app-settings">
  <form class="py-3 pl-2">
  	<h4 class="text-white mx-2">Game Settings</h4>
  	<div class="form-group mx-4">
  	  <label for="ffxiv-folder" class="text-white-50">Final Fantasy XIV Folder</label>
  	  <div class="form-inline">
  	    <input type="text" class="form-control form-control-sm col-sm-6" id="ffxiv-folder" value="C:\path\to\ffxiv">
        <button class="btn btn-outline-light btn-sm ml-3">Use a Different Folder</button>
      </div>
    </div>
    <h4 class="text-white mx-2 py-4">Addon Settings</h4>
  	<div class="form-group mx-4">
      <label for="addon-download-options" class="text-white-50">Download Options</label>
      <div class="form-check">
	    <input class="form-check-input" type="radio" id="addon-download-options-1" name="addon-download-options" value="option1">
	    <label class="form-check-label" for="addon-download-options-1">
	      Download data form all regions and factions
	    </label>
	  </div>
	  <div class="form-check">
	    <input class="form-check-input" type="radio" id="addon-download-options-2" name="addon-download-options" value="option2">
	    <label class="form-check-label" for="addon-download-options-2">
	      Download data form specific regions or factions
	    </label>
	  </div>
    </div>
    <div class="form-group mx-4">
      <label for="addon-download-channel" class="text-white-50">Addon Download Channel</label>
      <select class="form-control form-control-sm col-sm-3" id="addon-download-channel">
        <option>Release</option>
        <option>Experimental</option>
      </select>
    </div>
  	<h4 class="text-white mx-2 py-4">Client Settings</h4>
    <div class="form-group mx-4">
      <label for="app-startup-behavior" class="text-white-50">Startup Behavior</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="app-startup-behavior-1">
        <label class="form-check-label" for="app-startup-behavior-1">
          Launch Cure when you start your computer
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="app-startup-behavior-2">
        <label class="form-check-label" for="app-startup-behavior-2">
          Minimize Cure on startup
        </label>
      </div>
    </div>
    <div class="form-group mx-4">
      <label for="app-close-behavior" class="text-white-50">Close Behavior</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="app-close-behavior-1">
        <label class="form-check-label" for="app-close-behavior-1">
          Keep Cure running in the System Tray
        </label>
      </div>
    </div>
    <div class="form-group mx-4">
      <label for="app-general-behavior" class="text-white-50">General</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="app-general-behavior-1">
        <label class="form-check-label" for="app-general-behavior-1">
          Show Mythic+ Score Colors
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="app-general-behavior-2">
        <label class="form-check-label" for="app-general-behavior-2">
          Auto-Update Characters on RaiderIO when Logging Out
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="app-general-behavior-3">
        <label class="form-check-label" for="app-general-behavior-3">
          Share Anonymouse Usage Statistics
        </label>
      </div>
    </div>
    <h4 class="text-white mx-2 py-4">Advanced Settings</h4>
    <div class="form-group mx-4">
      <label for="app-advanced-behavior" class="text-white-50">Advanced - Use With Caution!</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="app-advanced-behavior-1">
        <label class="form-check-label" for="app-advanced-behavior-1">
          Enable Developer Mode
        </label>
      </div>
    </div>
  </form>
</div>