<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" (click)="website()">
  	<img src="{{ imgLogo }}" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" (click)="settings()">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" (click)="addons()">Addons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" (click)="overlay()">Overlay</a>
      </li>
    </ul>
  </div>
</nav>

<!--
<li class="nav-item" routerLinkActive="active">
  <a class="nav-link" routerLink="/act">ACT</a>
</li>
-->