.navbar {
  background-color: #fff;
  background-color: rgba(255,255,255,0.2);
}
.navbar-brand {
  padding: 0 15px;
  height: 30px;
}

.main-app {
  height: 81%;
}

.app-bar {
  color: #fff;
  text-decoration: none !important;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
}

#blessing-logo {
  max-height: 30px;	
}
