<center>
  <br><br>
  <div ng-controller="installController">
    <div class="row" ng-show="Install.Act || Install.Addon">
      <div class="col"></div>
      <div class="col">
        <div ng-show="Install.Act">
          <h2>Install Act</h2>
        </div>
        <div ng-show="Install.Addon">
          <h2>Install An Addon</h2>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <br>
        <div ng-show="Install.Act && !Install.Installing && !Install.Complete">
          <button type="submit" ng-click="StartInstall('act')" class="btn btn-primary">Start Install</button><br>
          <button type="submit" ng-click="PlusPlus()" class="btn btn-primary">Plus Plus</button><br>
          <div ng-bind="Count"></div><br>
        </div>
        <div ng-show="Install.Addon && !Install.Installing && !Install.Complete">
          <button type="submit" ng-click="StartInstall('addon')" class="btn btn-primary">Start Install</button><br>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div ng-show="Install.Installing && !Install.Complete">
          <svg class="progress-circular progress-circular--material progress-circular--indeterminate">
            <circle class="progress-circular__background progress-circular--material__background" />
            <circle class="progress-circular__primary progress-circular--material__primary progress-circular--indeterminate__primary" />
            <circle class="progress-circular__secondary progress-circular--material__secondary progress-circular--indeterminate__secondary" />
          </svg>
          <br>
          <div ng-bind="Install.Progress.CurrentFile"></div>
          <div ng-bind="Install.Progress.Current"></div>
          <div ng-bind="Install.Progress.Total"></div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div ng-show="!Install.Installing && Install.Complete">
          <h3>Installation Complete!</h3>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button type="submit" ng-click="ChangeView('/')" class="btn btn-primary">Back</button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</center>
