.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.app-bar {
  color: #fff;
  text-decoration: none !important;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
}

.dash {
  overflow-x: hidden;
}

.dash-card {
  color: #fff;
  background-color: #fff;
  background-color: rgba(0,0,0,0.4);	
}

.dash-card-header {
  color: #fff;
  background-color: #fff;
  background-color: rgba(0,0,0,0.4);	
}

.dash-card-body {
  color: #fff;
  background-color: #fff;
  background-color: rgba(0,0,0,0);	
}

.dash-card-title {
  color: #fff;
  background-color: #fff;
  background-color: rgba(0,0,0,0.4);	
}

.dash-card-text {
  color: #fff;
  background-color: #fff;
  background-color: rgba(0,0,0,0);	
}

.dash-card-footer {
  color: #fff;
  background-color: #fff;
  background-color: rgba(0,0,0,0.4);	
}
