.app-bar {
  color: #fff;
  text-decoration: none !important;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
}

.up-to-date {
  color: #fff;
  text-decoration: none !important;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
}