<div class="row">
  <div class="col-sm-3">
  	&nbsp;
  </div>
  <div class="col-sm-4">
    Overlay Status: <strong [ngClass]="isEnabled() ? 'text-success' : 'text-danger'"><ng-container *ngIf="isEnabled()">En</ng-container><ng-container *ngIf="!isEnabled()">Dis</ng-container>abled</strong>
  </div>
  <div class="col-sm-1">
    <label class="switch">
      <input type="checkbox" (click)="switch()" [checked]="isEnabled()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="col-sm-4">
  	&nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
  	&nbsp;
  </div>
  <div class="col-sm-4">
    Overlay Lock: <strong [ngClass]="isLocked() ? 'text-success' : 'text-danger'"><ng-container *ngIf="isLocked()">On</ng-container><ng-container *ngIf="!isLocked()">Off</ng-container></strong>
  </div>
  <div class="col-sm-1">
    <label class="switch">
      <input type="checkbox" (click)="lock()" [checked]="isLocked()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="col-sm-4">
  	&nbsp;
  </div>
</div>
<div class="row" *ngIf="isEnabled()">
  <div class="col-sm-3">
    &nbsp;
  </div>
  <div class="col-sm-3">
    <input type="text" [(ngModel)]="testMessage" name="testMessage" />
  </div>
  <div class="col-sm-3">
    <button type="button" (click)="sendTest()">Send</button>
  </div>
  <div class="col-sm-3">
    &nbsp;
  </div>
</div>