/* You can add global styles to this file, and also import other style files */
@import '../node_modules/onsenui/css/onsenui.css';
@import '../node_modules/onsenui/css/onsen-css-components.css';

html, body {
  background-image: url("./assets/images/bg.jpg");
  height: 450px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 0;
  padding: 0;
}
