.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
	font-size: 12px;
}

.btn-outline-info {
	font-size: 12px;
}

.btn-outline-light {
	font-size: 15px;
}

.addon {
	background-color: #ffffff;
}

.addon:hover {
    background-color: #00ffff;
}